* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 70px;
  font-family: "Nunito", sans-serif;
}

.left,
.right {
  width: 370px;
  height: 800px;
  border-radius: 50px;
  box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.2);
}
.left {
  margin-right: 55px;
  position: relative;
}
.right {
  margin-left: 55px;
}

.nav_bar {
  margin-top: 45px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}

.artist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist_img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.3);
}
.artist_info {
  margin-top: 45px;
}
.artist_info h1 {
  font-size: 40px;
  font-weight: bold;
}
.artist_info h3 {
  font-size: 20px;
  opacity: 0.5;
  padding-top: 15px;
  text-align: center;
}
.artist_button {
  display: flex;
  width: 100%;
  margin-top: 40px;
  padding: 0px 50px;
  justify-content: space-between;
}
.artist_button_1,
.artist_button_2 {
  cursor: pointer;
  user-select: none;
  height: 45px;
  width: 125px;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist_button_1 {
  background-color: black;
  color: white;
}
.artist_button_1:active {
  background-color: white;
  color: black;
}
.artist_button_2 span {
  opacity: 0.5;
  font-weight: bold;
}
.artist_button_2:active i {
  color: red;
}

.songs {
  margin-top: 30px;
  height: 250px;
  overflow: auto;
}
.songs::-webkit-scrollbar {
  display: none;
}
.songs_songs {
  display: flex;
  justify-content: space-between;
  margin: 15px 40px;
}
.songs_img_playing {
  color: black;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: url(https://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/957/792/80957792_1497848735507_1_600x600.JPG/dims/resize/Q_80,0);
  background-size: 50px 50px;
  background-color: hsla(0, 0%, 100%, 0.5);
  background-blend-mode: overlay;
}
.songs_img img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.songs_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 180px;
  padding: 10px 0;
}
.songs_icon {
  display: flex;
  align-items: center;
}
.songs_info h3 {
  opacity: 0.5;
  font-size: 13px;
}
.songs_info h1 {
  font-size: 16px;
  font-weight: bold;
}

.control {
  position: absolute;
  bottom: 15px;
  width: 92%;
  left: 4%;
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  border-radius: 35px;
}
.control_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.control_info h1,
.control_info h3 {
  color: white;
}
.control_info h3 {
  opacity: 0.5;
  font-size: 13px;
}
.control_info h1 {
  font-size: 18px;
  font-weight: bold;
}
.control_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
}
.control_button i {
  color: white;
}

.playing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.playing_img img {
  width: 265px;
  height: 265px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.5);
}
.playing_info {
  margin-top: 65px;
  text-align: center;
}
.playing_info h1 {
  font-size: 35px;
  font-weight: bold;
}
.playing_info h3 {
  margin-top: 20px;
  font-size: 20px;
  opacity: 0.5;
}

.playing_bar {
  margin: 40px 30px 0 30px;
}
.playing_bar_time {
  display: flex;
  justify-content: space-between;
}
.playing_bar_time span {
  opacity: 0.2;
}
.playing_bar_bar {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.playing_bar_bar_left {
  width: 33%;
  background-color: black;
  height: 5px;
  position: relative;
}
.playing_bar_bar_dot {
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  right: -2.5px;
  top: -2.5px;
}
.playing_bar_bar_dot:hover {
  height: 15px;
  width: 15px;
  right: -5px;
  top: -5px;
}
.playing_bar_bar_right {
  width: 66%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 5px;
}

.playing_buttons {
  margin: 60px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-sync-alt,
.fa-random {
  opacity: 0.2;
  cursor: pointer;
}
.fa-sync-alt:active,
.fa-random:active {
  opacity: 1;
}
.playing_buttons_play {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.pause {
  position: absolute;
  top: -1;
  left: -1;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pause:active {
  opacity: 0;
}
